<div class='nested-fields'>
    <div class="field">
      <%= f.label :decription %>
      <%= f.text_field :decription %>
    </div>
   
    <%= link_to_remove_association "remove task", f %>
  </div>